@font-face {
    font-family: 'Goldman-Regular';
    src: url('../fonts/Goldman-Regular.woff') format("woff"),
    url('../fonts/Goldman-Regular.ttf') format("truetype"),
    url('../fonts/Goldman-Regular.eot') format("embedded-opentype");
}

  html {
    height: 100%;
    background-color: #BFDAFD;
}
  
*, *::before, *::after {
    box-sizing: inherit;
}

/* body {
    background-image: url("../img/wallpaper.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
} */

.main-btn {
    position: absolute;
    top: 45%;
    left: 9%;
    height: 40px;
    width: 400px;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: #F9F5EB;

    font-family: 'Goldman-Regular';
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    text-decoration:none;
    color: #FDB663;
}

.home-img {
    position: absolute;
    width: 40%;
    top: 23%;
    right: 8%;
}

#interact-bar {
    position: absolute;
    bottom: 15%;
    left: 9%;
    height: 100px;
    width: 200px;
    padding: 0 120px;
    display:flex;
    justify-content: space-between;
}

.img-btn {
    width: 50px;
    height: 50px;
    /* margin: 0 25px 0 0; */
}

