.item-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding-top: 60px;
    background-image: url("../img/IMG_5748.PNG");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top ;
    background-size: 1160px;
}

.item{
    width: 320px;
    height: 400px;
    margin-bottom: 80px;
    background-color: #B1D4F4;
    box-shadow: 10px 7px 7px#3c5680;
}

.shop-img{
    display: flex;
}

.shop-text{
    height: 80px;
    font-family: 'Audiowide', sans-serif;
    font-size: 30px;
    /* font-weight: 900; */
    text-align: center;
    line-height: 40px;
    color: #67AAE8;
    padding: 20px 30px;
    margin: 0;
    /* text-shadow: 0.5px 0.5px 1px white, -1px -1px 1px#444; */
}